<div class="blog-inner-flex-container4">
    <div> <img class = "flex-item-logo" src="/img/Assets/logo_02.png" > </div>
    <div class = "flex-item-title1"> {{include.mom}} </div>
    <div class="flex-item-subtitle3"> {{include.subtitle3}} </div>
</div>

<div class="inner-flex-container3">
    <div class="flex-item-title1"> </div>
    <div class="flex-item-subtitle3"> </div>
</div>

<div class="flex-container-6">
  <div class = "flex-item-fb"> </div>
  <div class = "flex-item-twitt"> </div>
  <div class = "flex-item-linkdin"> </div>
  <div class = "flex-item-gplus"> </div>
    
</div>

<div class="flex-container-last">
    <div class="item-containet-title"> </div>
    <div class="cols"> 
        <div class="col_prod"> </div>
        <div class="col_prod"> </div>
        <div class="col_prod"> </div>
        <div class="col_prod"> </div>
    </div>   
    </div>
</div>