<!--header class="mom-header">
  <img src="/img/hashedin_color_logo.png">
  <span class="header-text">UI TRACK</span>
</header-->

<header class= "flex-header">
  <div class = "inner-flex-logo-mom">
    <div> <img class="flex-item-logo" src="/img/Assets/logo_02.png">  </div>	
 	  <div class = "flex-item-mom"> {{include.mom}} </div>
  </div>
  <div class = "inner-flex-menus">
    <div class="hamburger">
      <i class="fa fa-bars dummy"></i>
    </div>
    <div class="switch-to-screen">
      <div class = "flex-item-menu" id="menu"> {{include.pricing}}</div>
      <div class = "flex-item-menu"> <a href="/blog/" id="menu"> {{include.blog}} </a> </div>
      <div class = "flex-item-menu"> <a href="/login/" id="menu">{{include.login}}</a> </div>
      <div class = "flex-item-menu"> <a href="/signup/" id="menu_signup">{{include.signup}} </a></div>
    </div>
    <div class="switch-to-mob">
      <div class = "flex-item-menu"> {{include.pricing}}</div>
      <div class = "flex-item-menu"> <a href="/blog/"> {{include.blog}} </a> </div>
      <div class = "flex-item-menu"> <a href="/login/">{{include.login}}</a> </div>
      <div class = "flex-item-menu"> <a href="/signup/">{{include.signup}} </a></div>
    </div>
  </div>

</header>
