
<div class = "flex-container1">
  <div class = "flex-item-title"> {{include.title1}} </div>
  <div class = "flex-item-subtitle1"> Run engaging meetings that drive change.</div>
  <br/> <br/> <br/>
  <div class = "flex-item-trialbutton"> <input type="button" class="freetrial" value= "Take 30 day free trial"/> </div>
  <div class = "flex-item-subtitle2"> {{include.freetrial_subtitle}} </div>
  <br/> <br/>
  <div class = "flex-item-image"> <img id="#moc1" alt="No image" src="/img/Assets/mock_01.png" width="100%" /> </div>
</div>

