<div class = "flex-container2">
  <div class="inner-flex-container4">
    <div> <img class = "flex-item-logo1" src="/img/Assets/logo_02.png" > </div>
    <div class = "flex-item-title1"> {{include.mom}} </div>
    <div class="flex-item-subtitle3"> Effective meetings are hard work. Apart from the agenda at hand, someone needs to be <br/> thinking about the processes and following up. </div>
  </div>
  <div class = "inner-flex-container1">
  	  <div class = "inner-item-flex1">
        <div class = "flex-item-text1"> {{include.collab_notes}} </div>
        <div class = "flex-item-subtext1"> There isn’t any UI. Type notes as you normally <br/> would and action items are created. </div>
        <input type="button" class="getstarted" value="GET STARTED"/>
      </div>
      <div class="flex-item-image1"> <img class="m2" src="/img/Assets/mock_two.png" alt="No image" ></div>
  </div>
  <div class = "inner-flex-container2">
  	<div class = "flex-item-image2"> <img class="m2" src="/img/Assets/mock_three.png" alt="No image" > </div>
  	<div class = "inner-item-flex1">
        <div class = "flex-item-text1"> {{include.text2}} </div>
        <div class = "flex-item-subtext1"> No Complicated forms, drop downs. As simple as <br/> talking notes on paper. Just start typing</div>
        <input type="button" class="getstarted" value="GET STARTED"/>
    </div>
  </div>
  <div class = "inner-flex-container3">
  	<div class = "flex-item-template"> 
      <div class="temp-row">
          <div class = "template-logo"> <img class="flex-item-logo" alt="N/A"> </div>
          <div class = "template-title"> {{include.Template}}</div>
      </div>
      <div class = "template-text"> {{include.temp_text}}</div>
    </div>
  	<div class = "flex-item-template"> 
        <div class="temp-row">
          <div class = "template-logo"> <img class="flex-item-logo" alt="N/A"> </div>
          <div class = "template-title"> {{include.Widget}}</div>
        </div>
        <div class = "template-text"> {{include.temp_text}}</div>
    </div>
  	<div class = "flex-item-template">
      <div class="temp-row">
          <div class = "template-logo"> <img class="flex-item-logo" alt="N/A"> </div>
          <div class = "template-title"> {{include.Action}} </div>
      </div>
      <div class = "template-text"> {{include.temp_text}}</div>
    </div>
  </div>
</div>
<div class = "flex-container4"> 
  <div class = "inner-flex-rows">
      <div class = "inner-flex-stats-cols">
        <div class = "top-text"> 2000+ </div>
        <div class = "bottom-text"> Meeting Minutes</div>
      </div>
      <div class = "inner-flex-stats-cols">
        <div class = "top-text"> 100+ </div>
        <div class = "bottom-text"> Decisions Made </div>
      </div>
      <div class = "inner-flex-stats-cols">
        <div class = "top-text"> 80+ </div>
        <div class = "bottom-text"> Active Teams </div>
      </div>
      <div class = "inner-flex-stats-cols">
        <div class = "top-text"> 800+ </div>
        <div class = "bottom-text"> Action Items</div>
      </div>
  </div>

</div>