<div class = "flex-container2">
  <div class = "flex-item-title1">  </div>
  <div class = "inner-flex-container1">
  	<div class = "flex-item-text1"> is </div>
  	<div class = "flex-item-image1"> </div>
  </div>
  <div class = "inner-flex-container2">
  	<div class = "flex-item-text2"> is </div>
  	<div class = "flex-item-image2"> </div>
  </div>
  <div class = "inner-flex-container3">
  	<div class = "flex-item-template"> is </div>
  	<div class = "flex-item-widget"> </div>
  	<div class = "flex-item-action"> </div>
  </div>
  <div class = "flex-item-text3"> is </div>
 

</div>