<div class="flex-container3">
	<div class="our-users"> Our Users Say </div>
	<br/>
	<div class="ceo-logo"> <img src="/img/Assets/dp.png"/> </div>
	<div class="ceo-name"> Himanshu </div>
	<div class="ceo-designation"> <img src="img/Assets/hashedin.png"/> </div>
	<div class="must-use"> MoM has an absolutely amazing and simple to use UI that has saved me countless hours working <br/> with my team and clients. I have falling in love with Rating & Polls which helps me collect feedback in- <br/> stantly and without bias. </div>
    <div class="color-must-use"> Must Use! </div>
    <br/> <br/> 
	<hr id="#hr" width="50%"/>
	<div class="ceo-name">  Don’t take Himanshu’s word? Take a free trial and find for yourself. </div>
	<br/> <br/>
	<div class = "flex-item-trialbutton"> <input type="button" class="freetrial" value= "Take 30 day free trial"/> </div>
	<div class = "flex-item-subtitle2"> {{include.freetrial_subtitle}} </div>
	
</div>