<div class="flex-container3">
	<div class = "our-users"> Pricing &amp Plans</div>
	<div class = "flex-row">
	   <div class = "ceo-name1">No credit card for trial </div>
       <div class = "bullet"> </div>
	   <div class = "ceo-name1">Cancel anytime </div>
    </div>
    <br/> <br/>
    <div class = "flex-row1">
	   <div class="mob-img-1"> 
	     <div class="ceo-name1"> Individual </div>
	     <div class="text-green"> Billed-monthly</div>
	     <div class="dollar-eight"> 
	     	<div class="dollar"> $ </div>
	     	<div class="eight"> 8 </div>
	     </div>
	     <div class="ceo-name2"> Per Month </div>
	     <div class = "flex-item-getstarted"> <input type="button" class="freetrial" value= "Get Started - 8$"/> </div>
	   </div>
	   <div class="mob-img-1"> 
	   	  <div class="ceo-name"> Team &amp Enterprise </div>
	   	   <div class="text-blue"> Roll out MoM for your team &amp Enterprise</div>
	   	   <div class="building1">
	   	   		<div class="ceo-name1"> Custom meeting templates </div>
	   	   		<div class="ceo-name1"> + </div>
	   	   		<div class="ceo-name1"> All notes &amp followups at one place </div>
	   	   		<div class="ceo-name1"> + </div>
	   	   		<div class="ceo-name1"> Rolled up report on meeting productivity for the Team </div>
	   	   </div>
	   	    <div class = "flex-item-getstarted1"> <input type="button" class="freetrial" value= "Contact Us"/> </div>
	   </div>
    </div>
</div>