<div class="flex-container-6">
  <div class = "flex-item-fb"> <img src="/img/Assets/Social_png/facebook.png" alt="Facebook" weight="100%" height="100%"/> </div>
  <div class = "flex-item-fb"> <img src="/img/Assets/Social_png/twitter.png" alt="Twitter" weight="100%" height="100%"/> </div>
  <div class = "flex-item-fb"> <img src="/img/Assets/Social_png/linkdin.png" alt="LinkdIn" weight="100%" height="100%"/></div>
  <div class = "flex-item-fb"> <img src="/img/Assets/Social_png/google.png" alt="G+" weight="100%" height="100%"/> </div>
	
</div>