<div class="flex-container-7">
	<div class="flex-item-logo-mom">
		<div class="logo"> <img class="flex-item-logo" src="/img/Assets/logo_02.png" alt="logo"/> </div>
		<div class="mom"> {{include.mom}} </div>
	</div>
    <br/> <br/>
    <div class="cols">
		<div class="container_final">
			<div class="col_title"> PRODUCT </div>
			<div class="col_data"> Features </div>
			<div class="col_data"> Pricing</div>
			<div class="col_data"> Free Trial </div>
		</div>
	  	<div class="container_final">
			<div class="col_title"> LEARN </div>
			<div class="col_data"> Blog </div>
			<div class="col_data"> Meeting Best Practices </div>
		</div>
		<div class="container_final">
			<div class="col_title"> COMPANY </div>
			<div class="col_data"> Privacy </div>
			<div class="col_data"> Terms &amp Conditions </div>
			<div class="col_data"> Contact Us </div>
		</div>
		<div class="container_final">
			<div class="col_title"> SOCIAL </div>
			<div class="col_data"> Facebook </div>
			<div class="col_data"> Twitter </div>
			<div class="col_data"> LindIn</div>
			<div class="col_data"> Google+ </div>
		</div>
	</div>
	
</div>