<div class="login-flex-container">
	<div class="logo"> <img class = "flex-item-logo" src="/img/Assets/logo_02.png" > </div>
	<div class="title"> {{include.mom}} </div>
	<div class="name">{{include.name}}  </div>
	<div class="textbox3"> <input type="text" />  </div>
	<div class="email-text"> {{include.email}}</div>
	<div class="textbox1"><input type="email" /> </div>
	<div class="pwd"> {{include.pwd}} </div>
	<div class="pwd-text"> <input type="password" /> </div>
	<div class="login-btn"> <input type="button" value="LOGIN"/></div>
	<hr>
	<div class="login-with-google"> <input type="button" value="LOGIN WITH GOOGLE"/></div>
	<div class="flex-txt-btn">
		<div class="have-an-account"> {{include.haveaccount}}</div>
		<div class="getstarted"><input type="button" value="GET STARTED"/> </div>
	</div>
</div>