.bottom-footer {
  background-color: $black-light-color;
  border-top: 1px solid $black;
  color: $grey-color;
  .hi-container {
    text-align: center;
  }
}

.hi-footerfont {
  font-family: 'Open Sans', sans-serif;
  word-spacing: -1px;
}
