.flex-header {
  display: flex;
  height: 100px;
  width: 100%;
  overflow-x: hidden;
  background-image: url("/img/Assets/banner.jpg");

}
.flex-item-logo {
  width: 30%;
  height: 30%;
  margin-left: 70%;
}
.inner-flex-logo-mom{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 20%;
  height: auto;
  flex-flow: row;
 
}

.inner-flex-menus{
  width: 80%;
  height: auto;
}

.flex-item-mom {
  
  font-family:Roboto;
  font-size: 24px;
  font-weight: 100;
  color: $white;
  margin-left: 2%;
  
}

.flex-item-menu {
  height: 21px;
  font-family: Roboto;
  font-size: 15px;
  color: $white;
  padding-left: 10%;
  margin-top: 5%;
  
}
.hamburger{
  display:none;
}

.switch-to-screen{
  display:flex;
  flex-flow: row;
  width: 80%;
  height: auto;
  margin-top:3%;
  margin-left: 30%;
  align-items: flex-end;
  justify-content: center;
}


.switch-to-mob {
  display: none;
}

#menu:link, #menu:visited, #menu:active {
  color: $white;
}
#menu:hover {
  text-decoration: underline;
}

#menu_signup:link, #menu_signup:visited, #menu_signup:active,#menu_signup:hover {
  border: 1.1px solid $white;
  border-radius: 19.9px;
  color: $white;
  padding: 3px;
  text-decoration: none;
}

@media screen and (max-width: 647px){
  .flex-header {
    display: flex;
    flex-flow: row;
    height: 20%;
    background-image: url(/img/Assets/banner.jpg);
    overflow-x: hidden;
    border-bottom: 0;
  }

  .inner-flex-logo-mom {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding-top: 5%;
  }
  .flex-item-logo {
    width: 50px;
    height: 50px;
    margin-top: 30%;
  }
  .flex-item-mom {
    margin-top: 10%;
    padding-left: 17%;

  }
  .switch-to-screen {
    display: none;
  }

  .hamburger {
    display: flex;
    width: 30%;
    margin-left: 70%;
    margin-top: 13%;
    justify-content: center;
    align-items: flex-end;
    font-size: 40px;
    color: $white;
  }
  
}
