h1 {
  font-family: Roboto;
  text-align: center;
}

.block {
  background-color: $grey-lighter-color;
  border: 1px $border-color solid;
  box-shadow: 0 2px 5px $black-light-color;
  text-align: justify;
}

.mom-header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

  .header-text {
    align-self: center;
    font-size: 1.4em;
    font-weight: 900;
  }
}

.middle {
  text-align: center;
}
