@import 'variables';
@import 'fonts';
@import 'home';
@import 'footer';
.flex-container2{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 1500px;
  object-fit: contain;
  align-items: center;
}

.flex-item-logo1 {
  height: 50px;
  width: 50px;
  margin-top: 30px;
}

.flex-item-subtitle3 {
  font-family: Roboto;
  font-size: 22.5px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: normal;
  color: $black;
  text-align: center;
}
.inner-flex-container4{
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  object-fit:contain;
  align-items: center;
}
.flex-item-title1{
	color: $black;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
}
.inner-flex-container1{
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 66%;
  justify-content: center;
  object-fit:contain;
  flex-direction: row;
  margin-top: 10%;

}
.inner-item-flex1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;

}
.getstarted {
  border-radius: 19.9px;
  background-color: $bluee;
  font-family: Roboto;
  font-size: 15px;
  border-color: $bluee;
  color: $white;
  float: left;
}
.flex-item-text1{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
	width: 50%;
	color: $black;
  font-family: Roboto;
  font-size: 45px;
  margin-top: 1%;
}
.temp-row {
  display: flex;
  flex-direction: row;
}
.flex-item-subtext1{
  font-family: Roboto;
  font-size: 22.5px;
  font-weight: 300;
  text-justify: auto;
  margin-top: 30px;
}
.flex-item-image1 {
	width: 50%;
	height: 100%;
  float: right;
}
.m2{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inner-flex-container2{
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 1500px;
    
}
.flex-item-text2{
	width: 55%;
	color: $black;
}
.flex-item-image2 {
	width: 100%;
  height: 100%;
	
}

.inner-flex-container3{
  display: flex;
  display: -webkit-flex;
  width: 100%;
  margin-top: 50px;
  height: 800px;
  justify-content: center;
  object-fit:contain;
}
.flex-item-template {
	width: 30%;
	color: $black;
  margin-botom: 20%;
}
.template-title {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 300;
  margin-left: 2%;
}
.template-text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 100;
  margin-top: 1%;
  line-height: 1.67;
}
.flex-container4 {
  margin-top: 60px;
  width: 100%;
  height: 270px;
  background-image: url("/img/Assets/insights_bg.jpg");
  background-size: 100% 100%;
  
}
.inner-flex-rows {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.inner-flex-stats-cols {
  display: flex;
  flex-flow: column;
  width: 30%;
  margin: 12%; 

}
.top-text {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 100;
  color: $white;
}
.bottom-text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 200;
  color: $white;
}
#web_props1 {
  display: flex;
  flex-flow: row;
  width: 50%;

}
@media screen and (max-width: 657px){
  .flex-container2{
    height: 50%; 
  }

  .flex-item-subtitle3 {
    width: 60%;
    font-family: Roboto;
  }  

  .inner-flex-container1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .inner-flex-container1 > div.flex-item-image1 {
    order:1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: 100%;
    object-fit: cover;

  }
  .inner-flex-container1 > div.inner-item-flex1 {
    order:2;
    margin-top: 10%;
  }
  .inner-item-text1 {
    font-size: 30px;
    margin-top: 5%;
  }
  .inner-item-subtext1{
    font-size: 20px;
    margin-top: 5%;
  }
  .getstarted {
    margin-top: 5%;
  }

  .inner-flex-container3 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .template-title {
    margin-left: 25%;
    margin-top: 10%;
  }
  .flex-container4 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 25%;
  }
  .inner-flex-rows{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .inner-flex-stats-cols {
    margin: 35%;
  }
  .top-text {
     font-size: 35px;
  }
  .bottom-text {
    font-size: 30px;
  }
}