.flex-container3 {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  width: 100%;
  height: 900px;
  justify-content: center;
  align-items: center;
  background-color: $p3_col;
  color: $white;
  font-family: Roboto;
}

.our-users {
  font-size: 45px;
  font-weight: 300;
}

.ceo-name {
	font-size: 30px;
}

.must-use {
  font-family: Roboto-LightItalic;
  font-size: 22.5px;
  font-weight: 300;
  font-style: italic;
  margin-top: 3%;
}

.color-must-use {
  text-align: center;
  font-family: Roboto-LightItalic;
  font-size: 22.5px;
  font-weight: 300;
  font-style: italic;
  color: #f27f21;
}

#hr {
	opacity: 0.1;
	color: $white;
	border: solid 0.8px #ffffff;
}