.mob-img-1{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  width: 200px;
  height: 580px;
  border: 1px solid #555;
	
}
.mob-img-2{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  width: 200px;
  height: 580px;
  border: 1px solid #555;
  margin-left: 30px;
  
}

.flex-row {
  display: flex;
  flex-flow: row;
  align-items: center;

}

.bullet {
  height: 10px;
  width: 10px;
  background-color: #fd2e72;
  border: 1px solid #fd2e72;
  border-radius: 6px;
  margin: 10px;
}

.mob-img-1 {
  width: 313.1px;
  height: 523.9px;
  border-radius: 9px;
  background-color: #3e4a5c;
  background-color: grey;
  margin: 20px;
}

