.ip {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
	background: transparent;
  margin-top: 5%;
}


::-webkit-input-placeholder { 
  color: black;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $black;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $black;
}

:-moz-placeholder { /* Firefox 4 - 18 */
  color: $black;
}


