.flex-container-6 {
	display: flex;
    height: 100px;
    border: 1px solid #555;
    justify-content: center;
    background-color: #212a37;
}
.flex-item-fb{
    height: 40px;
    width: 40px;
    margin: 2%;
   
}
