.bottom-footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  color : #7E7E7E;
  background-color: #232323;

  .hi-container {
    text-align: center;
  }
}
.hi-footerfont {
  font-family: 'Open Sans', sans-serif;
  word-spacing: -1px;
}
