h1 {
  text-align: center;
}

.block {
  border: 1px #4D4D50 solid;
  background-color: #DDD;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  text-align: justify;
}

.vertical-center > [class*=" col-"] {
  display: flex;
  align-items: center;
}