//Ovverride your custom style here
$enable-flex: true !default;

//Define your color variable here
$grey-color: #7E7E7E;
$black-light-color: #232323;
$border-color: #4D4D50;
$grey-lighter-color: #DDD;
$black: #000;
